@model List<Usuario>

@{
    ViewData["Title"] = "Lista de Usuarios";
}

<h1>Lista de Produtos</h1>

<alert texto="@TempData["msg"]"></alert>

<a asp-action="Cadastrar">Cadastrar Usuário</a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Habitos Saúde</th>
            <th>Pratica Esporte</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nome</td>
                <td>@item.Email</td>
                <td>@item.HabitosSaude</td>
                <td>@item.PraticaEsporte</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.Id" class="btn btn-primary">Editar</a>
                    <button onclick="click.value = @item.Id" type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                        Excluir
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>


