@model List<Usuario>

@{
    ViewData["Title"] = "Listagem de Usuário";
}

@if (TempData["msg"] != null)
{
    <div id="mensagemSucesso" class="alert alert-success">
        @TempData["msg"]
    </div>
}

<h1>Listagem de Usuário</h1>

<br />
<h5>Pesquisar usuário pelo nome</h5>
<form class="row mb-3" asp-action="BuscarPorNome" asp-controller="Usuario" method="get">
    <div class="col-4">
        <input type="text" class="form-control" name="valor"
               placeholder="Digite o nome" />
    </div>
    <div class="col-2">
        <button class="btn btn-primary">Pesquisar</button>
    </div>
</form>
<br />

@if (Model != null && Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Idade</th>
                <th>Peso</th>
                <th>Altura</th>
                <th>Tempo de Sono</th>
                <th>Pratica Esporte</th>
                <th>Habitos Saúde</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Nome</td>
                    <td>@user.Idade</td>
                    <td>@user.Peso</td>
                    <td>@user.Altura</td>
                    <td>@user.TempoSono</td>
                    <td>@user.PraticaEsporte</td>
                    <td>@user.HabitosSaude</td>
                    <td></td>
                    <td>
                        <a asp-action="Editar" asp-route-id="@user.Id" class="btn btn-primary">Editar</a>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalExcluir_@user.Id">
                            Excluir
                        </button>
                    </td>
                </tr>
                <!-- modal de excluir -->
                <div class="modal fade" id="modalExcluir_@user.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Confirmação de Exclusão</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Deseja realmente excluir o usuário "@user.Nome"?
                            </div>
                            <div class="modal-footer">
                                <form asp-action="Excluir" asp-route-id="@user.Id" method="post">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-danger">Excluir</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </tbody>
    </table>
}
else
{
    <p>Nenhum usuário encontrado.</p>
}

<script>
    setTimeout(function () {
        var mensagemSucesso = document.getElementById('mensagemSucesso');
        if (mensagemSucesso) {
            mensagemSucesso.style.display = 'none';
        }
    }, 3000);
</script>
